# Object files
*.o
*.ko
*.obj
*.elf
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# backups
*~
/fpga/prj/v0.94/.gitignore
/fpga/prj/v0.94/.Xil
/fpga/prj/v0.94/project
/fpga/vivado.jou
/fpga/vivado.log
/fpga/vivado_pid18180.str
/fpga/prj/classic/project
/fpga/prj/classic/.Xil
/fpga/prj/Examples/Vga_game/Vga_game
/fpga/prj/Examples/Vga_image/Vga_image
/fpga/prj/Examples/Vga_draw/Vga_draw
